footer {
    background-image: linear-gradient(
        45deg,
        rgba(117, 117, 117, 0),
        rgba(255, 255, 255, 0)
      ),
      url("https://img.freepik.com/free-photo/marketing-analysis-concept-with-magnifying-glass-wooden-figure-wooden-grunge-background-side-view_176474-7815.jpg?size=626&ext=jpg&ga=GA1.1.268308771.1711454733&semt=ais");
  }
  .single-content {
    text-align: center;
    padding: 115px 0;
  }
  .single-box p {
    color: #ffffff;
    line-height: 1.9;
  }
  .single-box img {
    width: 120px;
    height: 50px;
  }
  .single-box h3 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .single-box ul {
    list-style: none;
    padding: 0;
  }
  .single-box ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 2.5;
    font-weight: 100;
  }
  .single-box h2 {
    color: rgba(135, 177, 226, 0.734);;
    font-size: 20px;
    font-weight: bold;

  }
  .text__success {
    color: rgba(73, 129, 232, 0.818);
  }
  .bg__success {
    background-color: #1bbd36;
  }
  .bg__success:hover {
    background-color: rgb(230, 117, 65);
  }
  .socials i {
    font-size: 18px;
    margin-right: 15px;
  }
  .fon_weight_con p {
    font-weight: 600;
  }
  .fon_weight_con h1 {
    font-weight: 600;
    font-size: 32px;
  }
  .change_cclllcll button {
    background-color: #1b7fbd;
    border-radius: 7px;
  }
  .change_cclllcll button:hover {
    background-color: #e1962e;
    border-radius: 10px;
  }
  
 
  .change_clr_iiii i:hover {
    color: #bd641b;
    font-size: small;
  }
  .text_back {
    color: #1bbdba;
  }
  .hover_footer_list ul li  a:hover{
    color: #bd641b;

  }